* {
/* Don't judge me, just looks close to mock up :) */;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

nav .container {
	width: 100%;
	padding: 0;
}

#myNavHeader {
	border-bottom: 1px black solid;
	background-color: hsla(0, 0%, 50%, 0.9);
	width: 100%;
	padding-bottom: 2vw;
	padding-left: 1vw;
	padding-right: 0;
	margin: 0;
}

.navbar-brand {
	padding:2vw;
}

.navbar-brand h1 {
	margin: 0px;
	color: black;
	font-size: 1.8em;
}

.navbar-header button.navbar-toggle {
 	padding: 2vw;
 	border-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: black;
}

.foodText {
	background-color: hsla(0, 0%, 50%, 0.9);
	color: black;
	margin-top: 2vw;
}

.foodText h3{
	text-align: center;
}

.container-fluid {
	width: 90%;
}

#nav-list li{
	border-bottom: 1px black solid;
}

#collapsable-nav {
	background-color: white;
}

#nav-list {
  margin-top: 0px;
}

#header-nav {
	border: none;
}
